# Local Python artifacts
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
.venv/
venv/

# Tooling
.mypy_cache/
.pytest_cache/
.coverage
htmlcov/

# Editors
.vscode/
.idea/

# Env
.env
.env.*
